<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/search.js"></script>
</head>
<body>

<div class="row">
    <!--fileListing-->
    <div class="col-sm-3">
        <h4>Relevant Documents:</h4>
        <h6>(Click on link to display content)</h6>
        <ul>
         {% for value in files %}


               <li id="{{ value }}"  name="{{ value }}" onclick="display(this)">{{ value }} </li>
               <br>

         {% endfor %}
        </ul>
    </div>
    <!--/fileListing-->
    <!--fileContent-->
    <div class="col-sm-9">
        <h4>Content:</h4>

        <div  style="border:1px">
       <p id="fileContent"> </p>
        </div>
    </div>
    <!--/fileContent-->
</div>
</body>
</html>