<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="../static/css/search.css"/>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/search.js"></script>
</head>
<body>

<div class="row">
    <!--fileListing-->
    <div class="container col-sm-3 searchOutputContainer">
        <div class=" container searchOutputContainerHeadings ">
        <h4>Relevant Documents:</h4>
        <h6>(Click on link to display content)</h6>
        </div>
        <br>
        <ul>
         {% for value,des in files.items() %}


               <!--<li id="{{ value }}"  style="color:blue" name="{{ value }}" onclick="display(this)">{{ value }} </li>-->
               <li  id="{{ value }}"  style="color:blue" name="{{ value }}" onclick="display(this)">{{ des }}</li>
               <br>

         {% endfor %}
        </ul>
    </div>
    <!--/fileListing-->
    <!--fileContent-->
    <div class="container col-sm-9 searchOutputContainer" >
        <div class=" container searchOutputContainerHeadings" style="height: 63px;">
        <h4>Content:</h4>
        </div>
        <br>
       <p id="fileContent"> </p>
    </div>
    <!--/fileContent-->
</div>
</body>
</html>